* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #19205f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
header {
  background-color: #19205f;
  color: white;
  text-align: center;
}

.header__nav {
    position: sticky;
    top: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
  
.header__ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}
  
.header__ul li {
    padding: 10px 15px;
    background: transparent;
    transition: .5s;
}

.header__ul li:hover {
    background: #fff;
}

.header__ul li:hover > a {
    color: #19205f;
}
  
.header__ul li a {
  color: white;
  text-decoration: none;
}
  
footer {
  background-color: #19205f;
  color: white;
  padding: 10px 0;
  text-align: center;
}
  
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}
